# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Python Installer
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Sublime Text
*.sublime-workspace
*.sublime-project

# PyCharm
.idea/

# VSCode
.vscode/

# Other
.DS_Store
Thumbs.db
